{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta property="og:url"           content="http://www.hotelkrone.be" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="homepage the BA fine arts diploma 2020, HKB, Bern" />
    <meta property="og:description"   content="This page presents the works of the BA fine arts diploma students of the HKB Bern" />
    <meta property="og:description"   content="Diploma, HKB, hotelkrone, hotelkrone.be, fine arts, BA fine arts, Bachelor fine arts" />

    <meta name="keywords" content="diploma BA fine arts, HKB, Bern, Hochschule der Künste, Kunsthauslangenthal, Soraya Amini, Louna Berkane, Adriana Bravo, Rozenn Droz, Benjamin Gaschen, Zeno Germinale, Lukas Hirschhofer, Quentin Keller, Lea Luzifer, Kira Mäder, Matteo Petruzzi, Sina Schöpf, Anouk Ursin, Lisa Zuber">
    <meta name="description" content="homepage the BA fine arts diploma 2020, HKB, Bern">
    <meta name="date" content="June 2020">

      {% if object.entrance %}
        <title>Hotel Krone: Homepage</title>
      {% else %}
        <title>Hotel Krone: {{ object.name }}</title>
      {% endif %}
      <link href="https://fonts.googleapis.com/css?family=Gravitas+One&display=swap" rel="stylesheet">
      <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/couture" type="text/css"/>
      {% if object.animation == 'INFI' %}
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
        	<style>
            #map {
              width: 100%;
              height: 100%;
              position: absolute;
              right: 0;
              top: 0;
            }
          </style>
      {% elif object.animation == 'EQUI' %}
        <script src="{% static 'js/three.min.js' %}"></script>
        <script src="{% static 'js/panolens.min.js' %}"></script>
      {% endif %}

	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Source+Sans+Pro:wght@300;400;600;700&family=Zilla+Slab:wght@500&display=swap" rel="stylesheet">
    <link rel="icon" type="image/jpg" href="{% static 'media/webicon.jpg' %}">

    <!-- <link rel="stylesheet" href="https://cdn.hotelkrone.be/css/master-hk.css"> -->
    <link rel="stylesheet" href="{% static 'css/master-hk.css' %}">
    <link rel="stylesheet" href="{% static 'css/project.css' %}">
  
  </head>
  
  
  <body>

      <div id="main">
        <div id="topline">
          <div id="corner-top-left">
            <img src="{% static 'media/corner-tl.png' %}" width="100%" height="100%" alt="">
          </div>
          <div id="top-hotel">		
            <div id="title-hotel">
              <a href="{% url 'home' %}" class="linknames title">Hotel Krone</a>
                {%  if not object.entrance %}
                <span class="subtitle">: {{ object.name }}</span>
              {% endif %}
            </div>
          </div>
          <div id="corner-top-right">
            <img src="{% static 'media/corner-tr.png' %}" width="100%" height="100%" alt="">
          </div>
        </div>

        <div id="middle">
			    <div id="mar-left">
            {%  if object.entrance %}
              <div id="txtleft"><span class="whitetxt">x</span></div>
            {% else %}
              <div id="txtleft"><a href="{{ object.previous.get_absolute_url }}" class="linknames">{{ object.previous.name }}</a></div>
            {% endif %}
          </div>

          <div id="key">
            <div id="keycontent">
              <div id="keycase">
                  {% for ort in orte_list %}
                    <a href="{{ ort.get_absolute_url }}" class="linkrooms rooms">{{ ort.name }}</a>
                  {% endfor %}
                </div>
                <div id="room">
					        {% if object.animation == 'NOJS' %}
                    {% if object.background %}
                      <img src="{{ object.background.url }}" width="100%" alt="">
                    {% else %}
                      {{ object.html_embed|safe }}
                    {% endif %}
                  {% elif object.animation == 'INFI' %}
                    <div id="map"></div>
                    <script type="text/javascript">
                      var bounds = [[0,0], [1000,1000]];
                      var map = L.map('map', {
                        crs: L.CRS.Simple,
                        maxBounds: bounds,
                        maxBoundsViscosity: 1.0
                      });

                      var image = L.imageOverlay('{{ object.background.url }}', bounds).addTo(map);
                      map.fitBounds(bounds);

                    </script>
                    {% elif object.animation == 'EQUI' %}
                    {% endif %}
                </div>
              </div>
            </div>

            <div id="mar-right">
              {%  if object.entrance %}
                <div id="txtright"><span class="whitetxt">x</span></div>
              {% else %}
                <div id="txtright"><a href="{{ object.next.get_absolute_url }}" class="linknames">{{ object.next.name }}</a></div>
              {% endif %}
            </div>
        </div>

        <div id="bottom">
          <div id="corner-down-left">
            <img src="{% static 'media/corner-bl.png' %}" width="100%" height="100%" alt="">
          </div>
		  
          <div id="corner-down-right">
            <img src="{% static 'media/corner-br.png' %}" width="100%" height="100%" alt="">
          </div>
		  
          <div id="ground">
            {% if object.entrance %}
            <div id="groundnames" class="namesnew">
                <ul class="namelist">
                {% for student in students %}
                  <li><a class="linknames spacenamein" href="{{ student.get_absolute_url }}">{{ student.first_name }} {{ student.last_name }}</a>&nbsp;</li>
                {% endfor %}
                </ul>
            </div>
            <div id="groundtext">
              {{ object.description|safe }}
            </div>
            {% else %}
            <div id="groundtext-ort">
              {{ object.description|safe }}
            </div>
            {% endif %}

			      <div id="footer">
              <p>A project by the <a class="linkund" href="https://www.hkb-gk.ch/de/studiengaenge/ba-fine-arts-114.html">BA Fine Arts</a>. Hosted by the <a class="linkund" href="//www.kunsthauslangenthal.ch/" target="_blank">Kunsthaus Langenthal</a>.<br>
              <a id ="Impressum" class="linkund" href="" >Impressum</a>. © by HKB and the authors 2020
              <p><img src="{% static 'media/logo-kl.png' %}" width="100px"/>&nbsp<img src="{% static 'media/logo-hkb.png' %}" width="100px"/></p>
            </div>
        </div>
      </div>
    </div>

    <div id="overlay" class=overlayframe style=" display : none">
          <div class="overlay" >
             <!-- <a href="" class="overlay-student linkoverlay">Adriana Bravo</a><span class="overlay-arrow">☜</span> -->
            <a id="close" href="" class="overlay-close linkoverlay">Reception</a><span class="overlay-close overlay-arrow">☞</span>
            <div class="overlay-content">
              <span class="overlay-title">Impressum</span>
              <div class="overlay-description">
                <p>Instructions: download the following file <a href="..." class="linkoverlay">mybook.pdf</a> and print it at home on 100% size</p>
                <dl>
                  <dt>Head of Department</dt>
                  <dd>Anselm Stalder</dd>

                  <dt>Teachers</dt>
                  <dd>A sea serpent.</dd>
                  <dd>An old Owl.</dd>

                  <dt>Design</dt>
                  <dd>A giant owl-like creature.</dd>
                </dl>

              </div>
            </div>
          </div>
        </div>
        <!-- Fin Calque media & impressum -->

      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
	
	{%  if object.background_sound %}
      <div>
        <button id="play-button">Play/Pause</button>
      </div>
      <audio id="background-audio">
        <source src="{{ object.background_sound.url }}" type="audio/mpeg">
      </audio>
      <script>
      var button = document.getElementById("play-button");
      var audio = document.getElementById("background-audio");

      button.addEventListener("click", function(){
        if(audio.paused){
          audio.play();
        } else {
          audio.pause();
        }
      });
      </script>
      {% endif %}

      <script>
        
        var impresum = document.getElementById("overlay");
        var impresumBtn = document.getElementById("Impressum");
        impresumBtn.addEventListener("click", function(){
          impresum.style.display = "block";
        });

        var closebtn = document.getElementById("close");
        closebtn.addEventListener("click", function(){
          impresum.style.display = "none";
        });

      </script>

      {% for poi in object.poi_set.all %}
      <div class="overlayframe" id="media{{ poi.pk }}" style="display:none;">
        <div class="overlay">
          <a href="{{poi.media.student.get_absolute_url}}" class="overlay-student linkoverlay"> {{poi.media.student.first_name}} {{poi.media.student.last_name}}</a><span class="overlay-arrow">☜</span>
          <a href="{{poi.orte.get_absolute_url}}" class="overlay-close linkoverlay">{{poi.orte.name}}</a><span class="overlay-close overlay-arrow">☞</span>
          <div class="overlay-content">
            <span class="overlay-title">{{poi.media.name}}</span>
            <div class="overlay-element">
              
                {% if poi.media.image %}
                <img src="{{ poi.media.image.url }}" >
                {% else %}
                    {{ poi.media.html_embed|safe }}
                {% endif %}
              
            </div>
            <p class="overlay-caption">{{poi.media.legend}}</p>
            <div class="overlay-description">
              {{poi.media.description}}
            </div>
          </div>
        </div>
      </div>

      {% endfor %}

      {% if object.animation == 'NOJS' %}

      {% elif object.animation == 'INFI' %} 

      {% elif object.animation == 'EQUI' %}
          

          <script>
              const panorama = new PANOLENS.ImagePanorama( '{{ object.background.url }}' );

              {% for poi in object.poi_set.all %}
              infospot{{ poi.pk }} = new PANOLENS.Infospot( {{ poi.scale }}, '{{ poi.poi_image.url }}' );
              infospot{{ poi.pk }}.position.set( {{ poi.position_x }}, {{ poi.position_y }}, {{ poi.position_z }} );
              infospot{{ poi.pk }}.addHoverElement( document.getElementById( 'media{{ poi.pk }}' ), 200 );
              panorama.add( infospot{{ poi.pk }} );
              {% endfor %}

              const viewer = new PANOLENS.Viewer({container: document.getElementById("room"), controlBar: false, output: 'console'});
              viewer.add( panorama );
          </script>
      {% endif %}
	
  

      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

  </body>
</html>
