{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      {% if object.entrance %}
        <title>Hotel Krone: Homepage</title>
      {% else %}
        <title>Hotel Krone: {{ object.name }}</title>
      {% endif %}
      <link href="https://fonts.googleapis.com/css?family=Gravitas+One&display=swap" rel="stylesheet">
      <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/couture" type="text/css"/>
      {% if object.animation == 'INFI' %}
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
        	<style>
            #map {
              width: 100%;
              height: 100%;
              position: absolute;
              right: 0;
              top: 0;
            }
          </style>
      {% elif object.animation == 'EQUI' %}
        <script src="{% static 'js/three.min.js' %}"></script>
        <script src="{% static 'js/panolens.min.js' %}"></script>
      {% endif %}

      <link rel="stylesheet" href="https://cdn.hotelkrone.be/css/master-hk.css">
      <link rel="stylesheet" href="{% static 'css/project.css' %}">
  </head>
  <body>

      <div id="main">
        <div id="corner-top-left">
          <img src="{% static 'media/corner-tl.png' %}" width="100%" height="100%" alt="">
        </div>
        <div id="top-hotel">
          <div id="title-hotel">
            <a href="{% url 'home' %}" class="linknames title">Hotel Krone</a>
            {%  if not object.entrance %}
              <span class="subtitle">: {{ object.name }}</span>
            {% endif %}
          </div>
        </div>
        <div id="corner-top-right">
          <img src="{% static 'media/corner-tr.png' %}" width="100%" height="100%" alt="">
        </div>

        <div id="middle">
            <div id="mar-left">
              {%  if object.entrance %}
                <div id="txtleft"><span class="whitetxt">x</span></div>
              {% else %}
                <div id="txtleft"><a href="{{ object.previous.get_absolute_url }}" class="linknames">{{ object.previous.name }}</a></div>
              {% endif %}
            </div>

            <div id="key">
              <div id="keycontent">
                <div id="keycase">
                  {% for ort in orte_list %}
                    <a href="{{ ort.get_absolute_url }}" class="linkrooms rooms">{{ ort.name }}</a>
                  {% endfor %}
                </div>
                <div id="room">
                    {% if object.animation == 'NOJS' %}
                      {% if object.background %}
                        <img src="{{ object.background.url }}" width="100%" alt="">
                      {% else %}
                        {{ object.html_embed|safe }}
                      {% endif %}
                    {% elif object.animation == 'INFI' %}
                      <div id="map"></div>
                      <script type="text/javascript">
                        var map = L.map('map', {
                          crs: L.CRS.Simple
                        });
                        var bounds = [[0,0], [2000,2000]];
                        var image = L.imageOverlay('{{ object.background.url }}', bounds).addTo(map);

                        map.fitBounds(bounds);
                      </script>
                    {% elif object.animation == 'EQUI' %}
                    {% endif %}
                </div>
              </div>
            </div>

            <div id="mar-right">
              {%  if object.entrance %}
                <div id="txtright"><span class="whitetxt">x</span></div>
              {% else %}
                <div id="txtright"><a href="{{ object.next.get_absolute_url }}" class="linknames">{{ object.next.name }}</a></div>
              {% endif %}
            </div>
        </div>

        <div id="bottom">
          <div id="corner-down-left">
            <img src="{% static 'media/corner-bl.png' %}" width="100%" height="100%" alt="">
          </div>

          <div id="corner-down-right">
            <img src="{% static 'media/corner-br.png' %}" width="100%" height="100%" alt="">
          </div>

          <div id="ground">
            {% if object.entrance %}
            <div id="groundnames" class="names">
                <ul id="namelist">
                {% for student in students %}
                  <li><a class="linknames" href="{{ student.get_absolute_url }}">{{ student.first_name }} {{ student.last_name }}</a>&nbsp;</li>
                {% endfor %}
                </ul>
            </div>
            <div id="groundtext">
              {{ object.description|safe }}
            </div>
            {% else %}
            <div id="groundtext-ort">
              {{ object.description|safe }}
            </div>
            {% endif %}
            <div id="footer">
              some links to <a href="">HKB</a>
            </div>
          </div>
        </div>
      </div>

      {% if object.animation == 'NOJS' %}

      {% elif object.animation == 'INFI' %}

      {% elif object.animation == 'EQUI' %}
          {% for poi in object.poi_set.all %}
            <div id="media{{ poi.pk }}" style="display:none; background-color: blue;width: 450px;">
            {% if poi.media.image %}
                <img src="{{ poi.media.image.url }}" height="200px"><br><i>{{ poi.media.legend }}</i>
            {% else %}
                {{ poi.media.html_embed|safe }}
            {% endif %}
                <div class="title">{{ poi.media.name }}</div>
                <div class="text">{{ poi.media.description }}</div>
            </div>
          {% endfor %}

          <script>
              const panorama = new PANOLENS.ImagePanorama( '{{ object.background.url }}' );

              {% for poi in object.poi_set.all %}
              infospot{{ poi.pk }} = new PANOLENS.Infospot( 400, '{{ poi.poi_image.url }}' );
              infospot{{ poi.pk }}.position.set( {{ poi.position_x }}, {{ poi.position_x }}, -5000 );
              infospot{{ poi.pk }}.addHoverElement( document.getElementById( 'media{{ poi.pk }}' ), 200 );
              panorama.add( infospot{{ poi.pk }} );
              {% endfor %}

              const viewer = new PANOLENS.Viewer({container: document.getElementById("room"), controlBar: false});
              viewer.add( panorama );
          </script>
      {% endif %}


  </body>
</html>
