              <div class="overlayframe" id="impressum" style="display:none;">
                <div class="overlay">
                  <a href="#" class="linkoverlayclose overlay-close" onclick="toggleOverlay('impressum'); return false">X</a>
                  <div class="impressum">
                      <p><span class="overlay-title">Impressum</span></p>
                      <div class="overlay-description">
                        {{ contents.impressum|safe }}
                      </div>
                  </div>
                </div>
              </div>