        <div class="modal" id="impressum" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-full modal-xl" role="document">
                <div class="modal-content">
                    <p class="text-right">
                        <a href="" class="overlay-close linkoverlay" data-dismiss="modal">{{ close_caption }}</a><span class="overlay-close overlay-arrow">☞</span>
                    </p>
                    <div class="overlay-content">
                      <span class="overlay-title">Impressum</span>
                      <div class="overlay-description">
                        <p>Instructions: download the following file <a href="..." class="linkoverlay">mybook.pdf</a> and print it at home on 100% size</p>
                        <dl>
                          <dt>Head of Department</dt>
                          <dd>Anselm Stalder</dd>

                          <dt>Teachers</dt>
                          <dd>A sea serpent.</dd>
                          <dd>An old Owl.</dd>

                          <dt>Design</dt>
                          <dd>A giant owl-like creature.</dd>
                        </dl>
                      </div>
                    </div>
                </div>
            </div>
        </div>