body {
  font-size: 16px;
  margin: auto;
  border: 0px;
  /* 1 em = 16px */
}

.hometable{
  width: 100%;
  height: 100%;
  border-spacing:0;
  border-collapse: collapse;
}

.t1{
  border-right: 8px solid black;
  font-family: 'Gravitas One', cursive;
  color:#000;
  font-size: 2em;
  height: 3em;
  text-align: center;
  vertical-align: middle;
}

.t2{
  margin: auto;
  width: 80%;
  border: 8px solid black;
  text-align: center;
  vertical-align: middle;
  height: 30em;
  background-image: url(media/lobby1.jpg);
  background-color: #000;
}

.margeright {
  border: 0px;
  border-bottom: 8px solid black;
  font-family: 'Gravitas One', cursive;
  color:#000;
  font-size: 1.2em;
  text-align: center;
  vertical-align: middle;
}

.txtright {
  transform: rotate(-90deg);
  }

.txtleft {
  transform: rotate(90deg);
  }

.margeleft {
  border: 0px;
  border-top: 8px solid black;
  font-family: 'Gravitas One', cursive;
  color:#000;
  font-size: 1.2em;
  text-align: center;
  vertical-align: middle;
}

#background{
  top:0px;
  position: relative;
  margin: auto;
}

#key{
  position: relative;
  float: left;
  font-family: 'Gravitas One', cursive;
  color:#866;
  font-size: 1.5em;
  margin: auto;
  z-index: 99;
}

.t3{
  height: 8em;
  width: 50%;
  background-color: #fff;
  text-align: center;
  vertical-align: middle;
}


#hoteltop {
    background-color: #fff;
    height: 18%;
}

#hotelcenter {
    background-color: #fff;
    height: 70%;
}

#hotelbottom {
    background-color: #fff;
    height: 12%;
}

/*
  You can adjust the
    * rotation (rotateX),
    * vertical stretch (scaleY),
    * projection (perspective) and
    * layer depth (--layer-depth)
*/
.title {
  text-align: center;
  font-family: arial;
  font-weight: 800;
  font-size: 1.6em;/*calc(20vw / var(--word-total) );  Overriden below for fluid typography test */
  line-height: 1.0;
  letter-spacing: -0.03em;
  transform: perspective(100px) scaleY(2) rotateX(30deg);
  transform-style: preserve-3d; /* Important for establishing a shared 3D space for all the layers */
  --layer-depth: 0.32em;
}

.corner {
  background-color: #fff;
}

.lt {
  border: 0px;
  border-spacing:0;
  border-collapse: collapse;
}
