#room.student-room {
  background-color: white;
}

*, ::after, ::before {
  
}

#play-button {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 900;
}
.endless_map_overlay {
  overflow: auto;
  height: 66vh;
}
